body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    text-decoration: none;
    background-image:linear-gradient( to right, rgb(0, 255, 255), rgb(0, 132, 255))
}

.card {
    color: white;
         border: 1px black solid;
         box-shadow: 20px 15px 20px black;
          padding: 70px;
          background-color: rgba(0, 0, 0, 0.8);
          position:absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%,-50%);
          border-radius: 20px;
    

}

input {
    padding: 10px;
    outline: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: none;
    border: none;
    border-bottom: 1px solid white;
    color: white;

}

label {
    width: 65px;
    display: inline-block;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.button1 {
    background-color: white;
    border: 1px  black;
    border-radius: 5px;
    outline: none;
    padding: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    color: black
}

.button2 {
    background-color: white;
    border: 1px  black;
    border-radius: 5px;
    outline: none;
    padding: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    color: black;
}

.esqc {
    color: white;
    text-decoration: none;
}

.button1:hover {
    background-color: rgb(130, 245, 140);
    cursor: pointer;
    overflow: hidden;
    transition: 0.5s;
    border: 1px 1px black solid;
}

.button2:hover {
    background-color: rgb(130, 170, 245);
    cursor: pointer;
    overflow: hidden;
    transition: 0.5s;
    border: 1px 1px black solid;
    
}

.bar{
    border: 1px black solid;
    background-color:rgba(0, 0, 0, 0.8);
    padding: 20px;
    text-decoration: none;

}

.in{ 
    text-align: left;
    text-decoration: none;
    color:white;
    padding: 20px;

}
.esqc:hover{
    color: red;
    transition: 0.5s;
}

.in:hover{
    background-color: rgba(0, 0, 0, 0.6);
    transition: 0.5s;
    color: orangered;
}
.buttong{
    border-radius: 5px;
    outline: none;
    padding: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    color: black;
    
}

.error{
    color: red;
}
